*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.conteudo{
  display:flex;
  align-items:center;
  flex-direction:column;
  text-align: center;
}
img{
  width: 100%;
  max-width:900px;
  height:100%;
  max-height: 500px;
  object-fit:cover;
 box-shadow: 2px 2px 5px;
 margin-top: 10px; 
}
nav{
  width: 100vw;
  height:50px;
  background-color: greenyellow;
  display: flex;
  align-items: center;
  justify-content:space-around;
  margin-bottom: 20px;
}
.links{
  font-size:1.5em;
  color:black;
}
.links:hover{
  color:whitesmoke ;
}
h1{
  font-size:2em;
}